#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.welcome-title {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  color: #1f2937;
  margin-bottom: 1rem;
}

.highlight-primary {
  color: #e2383f;
}

.highlight-secondary {
  color: #59c0d5;
}

.description {
  font-size: 1.125rem;
  color: #4b5563;
  text-align: center;
  margin-bottom: 0.5rem;
}
